html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333333;
  color: #f1f1f1;
  font-family: "Neue Helvetica", Helvetica, Verdana, sans-serif;
}

/* reset H */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.headline {
  position: absolute;
  right: -2.5em;
  top: 2em;
  transform: rotate(45deg);
  padding: 0 2em;
  background-color: lightgreen;
  color: #333333;
  line-height: 2;
}


.play-time {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  font-size: 2em;
}

.teams {
  flex: 1 0 100%;
  display: flex;
  min-height: 100%;
}

.team {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4em 0;
  text-align: center;

  transition: all ease-in 0.75s;
}

.team-headline {
  font-size: 3rem;
}

.team-score,
.team-headline {
  flex: 0 0 auto;
}

.team2 {
  background-color: #ffffff;
  color: #333333;
}

.team-score {
  display: inline-block;
  font-size: 50vh;
  line-height: 1;

  transition: all ease-in 0.5s;
}

.team2-won .team2 {
  flex: 1 0 70%;
}

.team2-won .team1 {
  flex: 0 1 30%;
}

.team2-won .team2 .team-score {
  font-size: 55vh;
  color: #03ffb7;
}

.team2-won .team1 .team-score {
  color: #ff0354;
  font-size: 40vh;
}

.team2-won .team1 .team-headline {
  font-size: 2rem;
}

.team1-won .team1 {
  flex: 1 0 70%;
}

.team1-won .team2 {
  flex: 0 1 30%;
}

.team1-won .team1 .team-score {
  font-size: 55vh;
  color: #03ffb7;
}

.team1-won .team2 .team-score {
  color: #ff0354;
  font-size: 40vh;
}

.team1-won .team2 .team-headline {
  font-size: 2rem;
}

.game-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  font-size: 2em;
  font-weight: bold;
}

.game-clock {
  position: fixed;
  top: 10px;
  left: 10px;
}
